<div class="box gameBox">
	<div class="container">
		<div class="info">
			<div class="gidInfo">
				<a class="button gidButton">Click to copy GameID: {{gid}}</a>
			</div>
			<div class="userInfo">
				<div class="userInfoItem">
					<i class="fa fa-user"></i>Users in game: {{userCount}}
				</div>
				<div class="userInfoItem">
					<a class="button leaveButton"><i class="fa fa-sign-out"></i>Leave game</a>
				</div>
			</div>
			<div class="gameInfo">
				<b>0:0 / 0:0</b>
			</div>
		</div>
		<div class="mapContainer">
			<div id="map"></div>
		</div>
	</div>
</div>