<div class="box gameBox">
	<div class="container">
		<div class="info">
			<div class="gidInfo">
				<a class="button gidButton">Click to copy GameID: {{gid}}</a>
			</div>
			<div class="userInfo">
				<div class="userInfoItem">
					<i class="fa fa-user"></i>&nbsp;Users in game: {{gameInfo.userCount}}
				</div>
				<div class="userInfoItem">
					<a class="button leaveButton"><i class="fa fa-sign-out"></i>&nbsp;Leave game</a>
				</div>
			</div>
			<div class="gameInfo">
				<b>{{gameInfo.openedCount}}:{{gameInfo.freeCount}} 
					/ {{gameInfo.flagedCount}}:{{gameInfo.mineCount}}</b>
			</div>
		</div>
		<div id="mapContainer">
			<div id="map"></div>
			{{^if gameInfo.gameState}}
				<div id="endGameSplash" class="
					{{#if gameInfo.gameResult}}
						endGameWin
					{{/if}}
					{{^if gameInfo.gameResult}}
						endGameLose
					{{/if}}">
					<p class="verticalAlign">
						{{#if gameInfo.gameResult}}
							<b class="endGameResult">YOU WIN</b>
						{{/if}}
						{{^if gameInfo.gameResult}}
							<b class="endGameResult">YOU LOSE</b>
						{{/if}}
						<br> 
						<b>Click to retry</b> 
					</p>
				</div>
			{{/if}}
		</div>
	</div>
</div>