<div class="box loginBox">
	<div class="container">
		<div class="newGameButton">
			<span class="button">
				Create new game
			</span>
			{{#if showLogin}}
			<div class="propertiesContainer">
				<ul>
				{{#each properties}}
					<li {{data "data"}}>x: {{xCount}}, y: {{yCount}}, mines: {{mineCount}}</li>
				{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>
		<br>
		or
		<br>
		<br>
		<b>join:</b> 
		<input type="text" placeholder="GameID" class="gidInput">
	</div>
</div>