<div class="box loginBox">
	<div class="container">
		<div class="newGameButton">
			<span class="button">
				Create new game
			</span>
			{{#if showLogin}}
			<div class="propertiesContainer">
				<ul>
				{{#each properties}}
					<li {{data "data"}}>x: {{xCount}}, y: {{yCount}}, mines: {{mineCount}}</li>
				{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>
		<br>
		or
		<br><br>
		<b>join:</b> 
		<input type="text" placeholder="GameID" id="gidInput">
		<br><br>
		<hr>
		<div class="loginSettings">
			<span class="button">
				<i class="fa fa-cog"></i>&nbsp;Settings
			</span>
			{{#if showSettings}}
			<div>
				<b>server:</b>
				<input type="text" placeholder="address" value="{{server}}" id="serverInput">
			</div>
			{{/if}}
		</div>
	</div>
	{{#if showLoader}}
	<div id="loader" class="loader-inner ball-pulse" style="margin-left: -30px;">
		<div></div>
		<div></div>
		<div></div>
	</div>
	{{/if}}
</div>