<div class="box loginBox">
	<div class="container">
		<a class="button newGameButton">Create new game</a>
		<br>
		<br>
		or
		<br>
		<br>
		<b>join:</b> 
		<input type="text" placeholder="GID" class="gidInput">
	</div>
</div>