<table id="mapTable">
	<tbody>
		{{#each layers.openedTips}}
		<tr data-y={{@index}}>
			{{#each this}}
				<td data-x={{@index}}>
					{{#if opened}}
						<div class="{{className}}">
								<p>{{tip}}</p>
						</div>	
					{{/if}}
					{{^if opened}}
						<div></div>
					{{/if}}
				</td>
			{{/each}}
		</tr>
		{{/each}}
		<tr getcellvalues="null" style="display: none"></div>
	</tbody>
</table>
<div bindcheck="null"></div>