<table id="mapTable">
	<tbody>
		{{#each layers.openedTips}}
		<tr data-y={{@index}}>
			{{#each this}}
				<td data-x={{@index}} class="{{className}}">
					<input value="{{tip}}" disabled>
				</td>
			{{/each}}	
		</tr>
		{{/each}}
		<tr getcellvalues="null" style="display: none"></div>
	</tbody>
</table>
<div bindcheck="null"></div>