body, p, a, div, input, tr, td {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica;
}

html {
	background-color: #fafafa;
}

#out {
	height: 100%;
	width: 100%;
}

.box {
	background-color: #fff;
	text-align: center;
	border: 1px solid #444;

	position: absolute;
	top: 40%;
	margin: 0px;

	left: 50%;
	transform: translateX(-50%);
	webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);

	-webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.75);
}

.container {
	padding: 15px;
}

.loginBox {
	min-width: 40%;
}

.gameBox {
	min-width: 50%;
	top: 20%;
}

.info > div {
	margin-bottom: 20px;
}

.gidInfo {
	width: 100%;
}

.userInfoItem {
	width: 49%;
	display: inline-block;
}

a.button {
	padding: 6px;
	border: 1px solid #999;

	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	background-color: #fff;
	font-weight: bold;
}

a.button:hover {
	background-color: #ddd;

}

input.gidInput {
	width: 100px;
	padding: 3px;
}

table#mapTable {
	border: 1px solid #444;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}

#mapTable td > div {
	border: 1px solid #444;
	width: 20px;
	height: 20px;
}

.lowWarn {
	background-color: #C1FF80;
}

.midWarn {
	background-color: #FFFC80;
}

.hiWarn {
	background-color: #FFC280;
}

.mine {
	background-color: #FF8080;
}

.flag {
	background-color: #8094FF;
}

.verticalAlign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin: 0px;
}

#mapContainer {
	position: relative;
}

#endGameSplash {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 30px;
}

.endGameWin {
	background-color: rgba(193, 255, 124, 0.7);
}

.endGameLose {
	background-color: rgba(255, 124, 124, 0.7);
}